<div class="modal-header gradient-custom-2">
    <h5 class="modal-title" id="exampleModalLabel">Booking Information</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()">
     <!--  <span aria-hidden="true">&times;</span> -->
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="bookingInfoForm" ngNativeValidate>
        <!-- <form> -->
          <div class="modal-body pt-0">
              <div class="form-group col mt-1" *ngIf="hasBookingData">
                    <label>Booking ID<sup
                        class="text-danger">*</sup></label>
                    <input type="text" class="form-control text-secondary bg-light" name="bookingId" formControlName="bookingId" readonly required>
                </div>

              <div class="form-group col mt-2" *ngIf="hasBookingData">
                <label>Client Name<sup
                    class="text-danger">*</sup></label>
                <input type="text" class="form-control text-secondary bg-light" name="clientName" formControlName="clientName"  readonly required>
            </div>

            <div class="form-group col mt-2">
                <label>Cab Details<sup
                    class="text-danger">*</sup></label>
                <!-- <input type="text" id="meetingScheduleInputEmail" class="form-control" name="cabModel" formControlName="cabModel"> -->
                <div class="dropdown">
                    <select class="btn btn-outline-secondary" id="cabDeatilDropdown" (change)="reCalculateAmount('cabDeatilDropdown')">
                        <option class="dropdown-item" id="chooseCab" value="">Choose a Cab</option>
                        <option [defaultSelected]="cab.id == bookingInfo.cab.id" [id]="cab.id" class="dropdown-item"  *ngFor="let cab of listOfCabs">
                            {{ cab.id}} - {{cab.cabModel}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group col-sm-6 mt-2">
                <label>Booking Date<sup
                    class="text-danger">*</sup></label>
                <input type="date" id="bookingDateModal" class="form-control cust-requiredField" name="date" formControlName="date" (change)="validateInputEmpty('bookingDateModal','Date')" required="true">
            </div>

            <div class="form-group col-sm-6 mt-2">
                <label>No of Days<sup
                    class="text-danger">*</sup></label>
                <input type="number" id="bookingNoOfDays" class="form-control cust-requiredField" name="noOfDays" formControlName="noOfDays" (change)="reCalculateAmount('bookingNoOfDays')" required="true">
            </div>

            <div class="form-group col mt-2">
                <label>Total Price<sup
                    class="text-danger">*</sup></label>
                <input type="text" id="bookingPrice" class="form-control cust-requiredField text-secondary bg-light" name="total" formControlName="total" readonly>
            </div>
          </div>
      </form>
  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal" (click)="close()">
        Cancel
      </button>
      <button type="submit" id="editMeetingModalButton" class="btn gradient-custom-2 btn-sm" [disabled]="saveButtonDisabled" (click)="updateBooking(this)">
        Save
      </button>
</div> 